* {
  margin: 0;
  padding: 0;
}
.head-1 {
  margin-top: 20px;
  text-align: center;
}

.image-1 {
  width: 100%;
  object-fit: cover;
  /* height: 800px; */
  margin-top: 6px;
  margin-bottom: 23px;
  justify-content: flex-start;
}
.story {
  max-width: 1020px;
  margin: 5px auto;
  line-height: 30px;
  letter-spacing: 2px;
  /* text-justify: auto; */
  text-align: justify;
}

.body-1 {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .image-1 {
    width: 100%;
    /* margin: 40px; */
    object-fit: cover;
    height: 226px;
    margin-bottom: 43px;
    margin-top: 30px;
    justify-content: flex-start;
  }
  .story {
    margin: auto 20px;
    line-height: 25px;
    letter-spacing: 0.5px;
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .story {
    margin: auto 20px;
  }
}
