.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #fff;
  color: red;
  padding: 0.1rem;
  position: relative;
  bottom: 0px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  display: none;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.pasword {
  display: flex;
  align-items: center;
}

.togglerp {
  user-select: none;
  /* width: 1em; */
  height: 40px;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 12px;
  margin: auto 1px;
  margin-bottom: 16px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  align-items: center;
  border: 1px solid grey;
  background-color: white;
}
.togglerp:hover {
  background-color: #181818;
  color: #fff;
}

.pasword1 {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid grey; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  /* border-right: none; */
}
