.story {
  display: block;
  text-align: center;
}
body {
  margin: 0px 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  /* margin: 20px auto; */
  text-align: center;
}
.vl {
  border-left: 1px solid #928f89;
  height: 320px;
  margin: auto 0px;
}
.main-image {
  display: block;
  width: 39%;
  margin: auto;
}
.main-image > img {
  width: 31%;
  opacity: 0.8;
}

.sunrise {
  margin: 5px auto;
}
/* .sunrise > img {
  /* opacity: 0.8; 
} */
