.editform {
  align-items: center;
  /* border-radius: 20px; */
  /* border: 1px solid black; */
  width: 100%;
  max-width: 600px;
  /* height: 50vh; */
  margin: 50px auto;

  display: block;

  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  box-shadow: 1px 2px 2px solid grey;
}
.headerww {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* .title2 {
  border-radius: 5px;
  outline: none;
  border: 1px solid #181819;
  text-align: start;
  width: 100%;
  background-color: white;
  color: white;
  max-width: 700px;
  height: 40px;
}
.textinput {
  outline: none;
  border: 1px solid #181819;

  text-align: start;
  width: 100%;
  border-radius: 5px;
} */

input {
  font-family: "Roboto Serif", serif;
}

label {
  font-size: 12px;
  font-family: "Roboto Serif", serif;
  font-weight: 700;
}
input [type="file"] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid grey; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
.title2 {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid grey; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  /* border-top: none;
  border-left: none;
  border-right: none; */

  background-color: #fff;
  width: 100%;
  outline: none;
}
.title2:hover {
  border: 2px solid #6190e8;
  /* border-top: none;
  border-left: none;
  border-right: none; */
}

select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid grey; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  /* border-top: none;
  border-left: none;
  border-right: none; */
}

textarea:hover {
  border: 2px solid #6190e8;
  /* border-top: none;
  border-left: none;
  border-right: none; */
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.btm {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  font-family: "Roboto Serif", serif;
}
.submitbut {
  /* padding: 8px 7px; */
  /* max-width: 100px; */

  width: 100%;
  /* background-color: hsl(114, 91%, 37%); */
  border: 1px solid grey;
  /* border-radius: 5px;
  font-weight: 600; */
  /* margin-bottom: 15px; */
  padding: 8px 7px;
  max-width: 100px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  font-weight: 600;
  background-color: #6190e8;
  color: #fff;
  font-family: "Roboto Serif", serif;
}
.submitbut:hover {
  background-color: #181819;
  color: #fff;
}
.gobackbtn {
  /* padding: 8px 7px; */
  max-width: 100px;
  width: 100%;
  border: 1px solid grey;
  /* border-radius: 5px; */
  /* font-weight: 600; */
  background-color: #6190e8;
  padding: 8px 7px;
  max-width: 100px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  font-weight: 600;
  background-color: #6190e8;
  color: #fff;
  font-family: "Roboto Serif", serif;
}
.gobackbtn:hover {
  background-color: #181819;
  color: #fff;
}

.imageupload {
  background-color: white;
  border-radius: 3px;
  border: 1px solid grey;
  margin-top: 4px;
  width: 100%;
}

#file-upload-button {
  background-color: #6190e8;
}

@media screen and (max-width: 420px) {
  /* .editform {
    margin: 6px 3px;
    width: 100%;
  } */
}
