.blogList-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: 0px 10px;
}
.head-2 {
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .blogList-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blogList-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* @media (max-width: 900px) {
  .blogList-wrap {
    display: block;
  }
} */
